@import '../../../styles/colors';
@import '../../../styles/typo';
:host {
    display: flex;
    height: 100%;
    width: 100%;
}

ino-table {
    background-color: $white;
}

.widget-bar {
    min-height: 15rem;
    margin-bottom: 2rem;
}
.widget {
    background-color: $realwhite;
}
.action-bar {
    background-color: $white;
    min-height: 5.6rem;
    padding: 0 2rem;
}